{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black ;position:relative;left:390px;background-color: white;width:200px;"class="text-center m-5" >HİKAYELER</H2>

 <span class="float-left" style="width:200px;height:200px; position: relative; left:-18%;">
    <h2 style="color:black;"><strong>HİKAYLER</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/hikayeler/keloglan">Hızırı bulan keloğlan</a></li>
       <li><a style="color:black;"href="/hikayeler/dürümcekli">Dürümcekli kadın Masalı</a></li>
       <li><a style="color:black;"href="/hikayeler/akilli">Akıllı Köylü Kızı</a></li>
    
    </ul>
    </span>
    <div class="card my-5">
        <div class="card-body">
        <strong class="card-title">Dürümcekli Kadın Masalı</strong>

        <p class="card-text">
            Bir varmış, bir yokmuş. Evvel zaman içinde, kalbur saman içinde, bir Kara Böcü (böcek) varmış. Bu böcü, aklına nerden esmişse esmiş, evlenmeye karar vermiş ve er aramaya çıkmış. Uzun süre gezmiş, dolaşmış, nihayet karşısına bir tilki çıkmış. Kara Böcü’nün yanına varmış ve sormuş: “Merhaba Kara Böcü. Nereye gidiyorsun böyle kendi başına?”
            Bizim Kara Böcü’nün buna fena halde canı sıkılmış ve tilkiyi paylamış: “Halt etmişsin sen, ne diye Kara Böcü oluyum? Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hay can kadın, desene,” demiş.
            
            
             
            “Pekâlâ,”
            demiş tilki ve sorusunu yeni baştan sormuş: “Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hay can kadın?”
            Kara Böcü cevap vermiş: “Er aramaya.”
            “Bana varır mısın?”
            “Sana varsam sen beni neyle döversin?”
            “Tekmeyle, tekmeyle canını çıkartırım.”
            “Haydi, öyleyse ben sana varmam demiş bizim dürümcekli dürcen kadın ve tekrar yollara düşmüş. Az sonra da karşısına parlak tüyleriyle pek güzel bir horoz çıkmış.”
            “Nere gidiyorsun kara böcü?”
            “Halt etmişsin, ne diye Kara Böcü oluyum? Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hay can kadın desen olmaz mı?”
            “Pekâlâ. Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hay can kadın?”
            “Er aramaya.”
            “Bana varır mısın?”
            Kara Böcü yine aynı suali sormuş: “Sana varsam sen beni ne ile döversin.”
            “Dıktığımınan dıktığımınan (gagam ile) gözlerini oyarım.”
            Bunun üzerine dürümcekli dürcen kadın yine: “Haydi, oradan, ben sana da varmam,” demiş ve yoluna devam etmiş. Bir süre sonra karşısına bu sefer de bir fare çıkmış.
            
            “Nere giden Kara Böcü?”
            “Halt etmişsin, ne diye Kara Böcü oluyum? Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hay can kadın desene.”
            “Dürümcekli dürcen kadın, bürümcekli bürcen kadın, nere giden hey can kadın?”
            “Er aramaya.”
            “Bana varır mısın?”
            “Sana varırsam sen beni neyle döversin?”
            Fare cevap vermiş: “Kuyruğumunan kuyruğumunan gözüne sürme çekerim.”
            Dürümcekli dürcen kadın buna pek sevinmiş. “Öyleyse, ben de sana varırım”
            demiş. İkisi de memnun bir şekilde, ileride akıp gitmekte olan derenin kenarına oturmuşlar. Bu sırada canı sıkılan Sıçan Süleyman Bey: “Şurada bir bey konağı var. Ben oradan biraz şeker çalıp getireyim de beraber yiyelim,” demiş.
            
            Dürümcekli dürcen kadın da bunu kabul etmiş ve sıçan Süleyman Bey, şeker çalmak üzere. Bey konağına doğru yola çıkmış. Sıçan Süleyman Bey gidince canı sıkılan dürümcekli dürcen kadın, “Bari biraz su içeyim”
            diye dereye eğilmiş ve eğilmesiyle de “cupp” diye suya yuvarlanması bir olmuş.
            
            Ne yapacağını şaşıran dürümcekli dürcen kadın, bir iki debelenmiş ama bir türlü derenin kenarına ulaşamamış.
            
            Bu sırada Bey’in konağına yiyecek götüren deve kervanları o taraftan geçiyorlarmış. Devecilerin konağa gitmelerinin muhtemel olduğunu düşünen dürümcekli dürcen kadın bağırmaya başlamış: “Deveci emmi, deveci emmi, Beyin konağına varırsan, sıçan Süleyman Beyi görürsen, dürümcekli dürcen kadın, bürümcekli bürcen kadın, suya düşmüş hay can kadın” diyiverin.
            
            Deveciler bu sesi duymuşlar, fakat nerden geldiğini bir türlü anlayamamışlar. Sağa, sola bakınmışlar kimseler yok. Fazla vakit kaybetmeyip yola koyulmuşlar.
            
            
             
            Beyin konağına varıp, mallarını indirirlerken devecilerden biri: “Yahu yolda bir ses “Deveci emmi, deveci emmi: bey konağına varırsan, Sıçan Süleyman Beyi görürsen, dürümcekli dürcen kadın, bürümcekli bürcen kadın, suya düşmüş hay can kadın, diyiverin” diye bağırdı.
            
            Etrafı aradık, amma kimseleri bulamadık. Kim bu Sıçan Süleyman Bey” demiş. O sırada Sıçan Süleyman Bey de mutfak dolabında şeker aşırmakla meşgulmuş. Şekerleri falan hemen bırakıp, derenin kenarına koşmuş: “Agel (al gel, uzat) ellerini dürümcekli dürcen kadın” demiş.
            
            Ama dürümcekli dürcen kadın oralı olmamış: “Haydil, ben sana küskülü püsküllü (küstüm, darıldım)” demiş.
            
            Sıçan Süleyman Bey yalvarmaya başlamış: “Canım, benim ne kabahatım vardı? Kendin düşmüşsün. Ellerini uzat da seni kurtarayım.”
            Fakat dürümcekli dürcen kadın her seferinde “Ya! Ben sana küskülü püsküllü” diyormuş.
            
            Bir yalvarmış olmamış, iki yalvarmış olmamış, nihayet Sıçan Süleyman Bey sabrı taşmış. Bir değnek uzatarak dürümcekli dürcen kadını sudan çıkarmış ve:
            
            “Sen bana küskülü püsküllü ise, ben de sana depmeli depmeli (tekmeli) diyerek, oracıkta ezip atıvermiş.”
            </p>


        </span>
    
</div>


    
{% endblock body%}
