{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black ;position:relative;left:390px;background-color: white;width:200px;"class="text-center m-5" >HİKAYELER</H2>


 <span class="float-left" style="width:200px;height:200px; position: relative; left:-18%;">
    <br>
    <br>
    <br>
    <h2 style="color:black;"><strong>HİKAYLER</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/hikayeler/keloglan">Hızırı bulan keloğlan</a></li>
       <li><a style="color:black;"href="/hikayeler/dürümcekli">Dürümcekli kadın Masalı</a></li>
       <li><a style="color:black;"href="/hikayeler/akilli">Akıllı Köylü Kızı</a></li>
    
    </ul>
    </span>

    <div class="card my-5">
        <div class="card-body">
        <strong class="card-title">Hızırı Bulan Keloğlan</strong>

        <p class="card-text">Bir varmış, bir yokmuş. Memleketin birinde bir padişah varmış. Bu padişah bir gün demiş ki:<br>
            “Hızır’ı bana kim bulup getirirse dünyalığını verip ahiretliğine karışmayacağım. Getirmezse cellât edeceğim. Tellâllar çıkarmış, fakat kimse oralı olmuyor. O memlekette bir de yoksul bir Keloğlan varmış. Bu düşünmüş, taşınmış, padişaha gitmeye karar vermiş.<span id="more-3137"></span><br>
            “Ne olursa olsun. Ben gidip karnımı doyuracağım, isterse assın.”<br>
            “Kalkıp padişahın huzuruna çıkmış.”<br>
            “Padişahım, Hızır’ı ben bulacağım.” demiş. Bu Keloğlan’ın da bazı şartları varmış, onları da padişaha söylemiş:<br>
            “Beni kırk gün beslersiniz, ben kırk gün ibadet edeceğim. Bu kırk günün üzerine ben Hızır’ı sana tutup getireceğim.” Padişah kırk gün bu adamın evine yemek gönderilmesini emreder. Kırk gün bunun evine saraydan yemek gider, yer, içer keyfine bakar. Son gün başlar düşünmeye. Karısı ne düşündüğünü sorunca:<br>
            “Hanım, otuz dokuz gün oldu, yarın beni asmaya götürecekler. Ben ne Hızır’ı buldum ne de ibadet ettim.” Hanımı ile helâlleşir. Sabah olur, muhafızlar kapıya dayanır:<br>
            “Haydi, Hızır’ı götüreceğiz Haydi.” Bunu tutup götürdüler, ne Hızır var, ne de bir şey. Elini ayağını bağlayıp doğru padişahın huzuruna götürdüler. Padişahın kapısından içeri girerken bir de baktı ki taze bir delikanlı peşine takıldı. Keloğlan onun kim olduğunu bir türlü anlayamaz. Beraberce doğru padişahın huzuruna çıkarlar:<br>
            “Keloğlan hani sen bize Hızır’ı bulacaktın, niye bulamadın?”<br>
            “Padişahım, ben aç idim, beni kırk gün yedirdin. Allah sende razı olsun, Beni affet, ben karnımı doyurmak için mahsustan öyle dedim.”<br>
            “Sen koskoca padişahla oynuyorsun ha!” Padişah vezirlerini toplar:<br>
            “Buna ne çeşit bir ceza verelim?” Baş vezir der ki:<br>
            “Padişahım, müsaade edersen evvel keselim, sonra derisini yüzelim. Bu böyle ölsün, bir padişah oyalatmak nedir, anlasın.” İkinci vezir de:<br>
            “Bunu asalım.” diye cevap verir. Üçüncü vezir:<br>
            “Bence zindana atalım, aç susuz zindanda ölsün.” cevabını verir. Padişah aynı şeyi dördüncü vezirine de sorar ve şu cevabı alır: * Sakaoğlu, Saim. Gümüşhane Bayburt Masalları. Ankara: Akçağ Yayınevi, 2002.<br>
            “Padişahım, bu bir Keloğlan’dır. Padişahların işi aftır. Bunu affedin. Bunu öldürüp de ne olacak, kanına dokunacaksınız da elinize ne geçecek?” Dördüncü vezir böyle der demez, kenarda oturan delikanlı ayağa kalkıp padişaha der ki:<br>
            “Padişahım, müsaade ederseniz size bir şeyler söyleyeceğim. Senin birinci vezirinin aslı kasaptır, anasından öğrendin; o, vezir çocuğu değildir, kasap çocuğudur. İkinci vezirin de çingen çocuğudur; üçüncü vezirin ise zindancıdır. Senin esas vezirin dördüncü vezirindir. Bunu baş vezir yap, ötekileri at dışarıya. Ben de Hızır’ım.” der demez, o delikanlı kaybolur. Padişah toplantıyı dağıttıktan sonra hemen vezirlerin analarını bulup sorar. Önce baş vezirin anasına der ki:<br>
            “Sen bu çocuğu nerden aldın?”<br>
            “Hık mık…”<br>
            “Doğru söyle, yoksa seni öldüreceğim.”<br>
            “Ben doğruyu söyleyeyim de sen ne yaparsan yap. Ben bu çocuğu sarayın kasap başısından aldım, vezir oğlu değildir.” İkinci vezirin anasına sorar, o da der ki:<br>
            “Buraya bir çingene gelmişti, ondan almıştım.” Üçüncü vezirin anası da zindancı başından aldığını söyler. Sıra dördüncü vezirin anasına gelir. Padişah sorar:<br>
            “Ya sen nerden aldın bu çocuğu?”<br>
            “Esas babasından aldım, kimseden aldığım yoktur.” Padişah, dördüncü veziri baş vezir yapar, diğerlerini çıkarır, yerlerine başkalarını alır.</p>
    </span>
    
</div>


{% endblock body%}
