{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position: relative; left:-18%;">
     <h2 style="color:black;"><strong>Can Yücel</strong></h2>
     <hr>
     <ul>
        <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
        <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
        <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
        <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
        <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
        <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
     </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Ağaçları Kesmeyin</strong>

        <p class="card-text">
            Düş bir yaş dalından düşerse <br>
            Nereye düşer hiç düşündünüz mü?<br>
            Yerde bir iz kalmayacak mı izdüşüm?<br>
            Düşen yaş dalından düşünce <br>
            Gözlerinizdedir pınarı <br>
            Bir yaş bir daldan düşünce <br>
            Kökündedir yaşı <br>
            Bir yaş düşer bir daldan <br>
            Hepimizin ölen arkadaşı <br>
            Ve çok eskilere dair bir düşünce</p>
        </div>
    
</div>


{% endblock body%}
