{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position: relative; left:-18%;">
    
    <h2 style="color:black;"><strong>Orhan Veli Kanık</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/orhan/istanbul">İstanbul'u Dinliyorum</a></li>
       <li><a style="color:black;"href="/orhan/bayrak">Bayrak</a></li>
       <li><a style="color:black;"href="/orhan/bedava">Bedava</a></li>
       <li><a style="color:black;"href="/orhan/genclik">Ah!Neydi Benim Gençliğim</a></li>
       <li><a style="color:black;"href="/orhan/mahvetti">Beni Bu Havalar Mahvetti</a></li>
       <li><a style="color:black;"href="/orhan/bayram">Bayram</a></li>
    </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Bayram</strong>

        <p class="card-text">
            Kargalar, sakın anneme söylemeyin!
            Bugün toplar atılırken evden kaçıp
            Harbiye nezaretine gideceğim.
            Söylemezseniz size macun alırım,
            Simit alırım, horoz şekeri alırım;
            Sizi kayık salıncağına bindiririm kargalar,
            Bütün zıpzıplarımı size veririm.
            Kargalar, ne olur anneme söylemeyin!
        </p>
        </div>
    
</div>


{% endblock body%}
