{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position: relative; left:-18%;">
    <h2 style="color:black;"><strong>Nazım Hikmet Ran</strong></h2>
     <hr>
     <ul>
        <li><a style="color:black;" href="/nazim/benseno">Ben Sen O</a></li>
        <li><a style="color:black;"href="/nazim/bessatırla">Beş Satırla</a></li>
        <li><a style="color:black;"href="/nazim/cevizagacı">Ceviz Ağacı</a></li>
        <li><a  style="color:black;" href="/nazim/dostluk">Dostluk</a></li>
        <li><a  style="color:black;"href="/nazim/maviliman">Mavi Liman</a></li>
     </ul>
    </span>
    
    <div style="max-width:200px;"class="card my-5">
      <div class="card-body">
      <strong class="card-title">Ben Sen O</strong>

      <p class="card-text">
    O, yalnız ağaran tanyerini görüyor <br>
 ben, geceyi de <br>
 Sen, yalnız geceyi görüyorsun, <br>
 ben ağaran tanyerinide.<br>
    </p>

   </div>


</div>


{% endblock body%}
