{% extends "anasayfa.html" %}
{% block body %}

 <span class="float-left" style="width:400px;height:200px; position: relative; left:-18%;;">
    <h2 style="color:black;"><strong>Nazım Hikmet Ran</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;" href="/nazim/benseno">Ben Sen O</a></li>
       <li><a style="color:black;"href="/nazim/bessatırla">Beş Satırla</a></li>
       <li><a style="color:black;"href="/nazim/cevizagacı">Ceviz Ağacı</a></li>
       <li><a  style="color:black;" href="/nazim/dostluk">Dostluk</a></li>
       <li><a  style="color:black;"href="/nazim/maviliman">Mavi Liman</a></li>
    </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
      <div class="card-body">
      <strong class="card-title">Beş Satırla</strong>

      <p class="card-text">
            Ben <br>
         senden önce ölmek isterim. <br>
         Gidenin arkasından gelen <br>
         gideni bulacak mı zannediyorsun? <br>
         Ben zannetmiyorum bunu. <br>
         İyisi mi,beni yaktırırsın, <br>
         odanda ocağın üstüne korsun <br>
         içinde bir kavanozun. <br>
         Kavanoz camdan olsun, <br>
         şeffaf, beyaz camdan olsun <br>
         ki içinde beni görebilesin <br>
         Fedakarlığımı anlıyorsun <br>
         vazgeçtim toprak olmaktan, <br>
         vazgeçtim çiçek olmaktan <br>
         senin yanında kalabilmek için. <br>
         Ve toz oluyorum <br>
         yaşıyorum yanında senin. <br>
         Sonra, sen de ölünce <br>
         kavanozuma gelirsin. <br>
         Ve orada beraber yaşarız <br>
         külümün içinde külün <br>
         ta ki bir savruk gelin <br>
         yahut vefasız bir torun <br>
         bizi ordan atana kadar... <br>
         Ama biz <br>
         o zamana kadar <br>
         o kadar <br>
         karışacağız <br>
         ki birbirimize, <br>
         atıldığımız çöplükte bile zerrelerimiz <br>
         yan yana düşecek. <br>
         Toprağa beraber dalacağız. <br>
         Ve bir gün yabani bir çiçek <br>
         bu toprak parçasından nemlenip filizlenirse <br>
         sapında muhakkak <br>
         iki çiçek açacak : <br>
         biri sen <br>
         biri de ben. <br>
         Ben <br>
         daha ölümü düşünmüyorum. <br>
         Ben daha bir çocuk doğuracağım <br>
         Hayat taşıyor içimden. <br>
         Kaynıyor kanım. <br>
         Yaşayacağım, ama ,çok, pek çok, <br>
         ama sen de beraber. <br>
         Ama ölüm de korkutmuyor beni. <br>
         Yalnız pek sevimsiz buluyorum <br>
         bizim cenaze şeklini. <br>
         Ben ölünceye kadar da <br>
         Bu düzelir herhalde. <br>
         Hapisten çıkmak ihtimalin var mı bugünlerde? <br>
         İçimden bir şey : <br>
         belki diyor.<br>
            </p>
  
    </div>


</div>

{% endblock body%}
