{% extends "anasayfa.html" %}
{% block body%}
<div>
 <span class="float-left" style="width:400px;height:200px; position: relative;left:-18%;">
   <h2 style="color:black;"><strong>Nazım Hikmet Ran</strong></h2>
   <hr>
   <ul>
      <li><a style="color:black;" href="/nazim/benseno">Ben Sen O</a></li>
      <li><a style="color:black;"href="/nazim/bessatırla">Beş Satırla</a></li>
      <li><a style="color:black;"href="/nazim/cevizagacı">Ceviz Ağacı</a></li>
      <li><a  style="color:black;" href="/nazim/dostluk">Dostluk</a></li>
      <li><a  style="color:black;"href="/nazim/maviliman">Mavi Liman</a></li>
   </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
      <div class="card-body">
      <strong class="card-title">Ceviz Ağacı</strong>

      <p class="card-text">
            Başım köpük köpük bulut, <br>
                    içim dışım deniz, <br>
                         ben bir ceviz ağacıyım Gülhane parkında, <br>
                            budak budak, serham serham ihtiyar bir ceviz. <br>
         Ne sen bunun farkındasın, ne polis farkında. <br>
         <br>
         Ben bir ceviz ağacıyım Gülhane parkında, <br>
         Yapraklarım suda balık gibi kıvıl kıvıl. <br>
         Yapraklarım ipek mendil gibi tiril tiril. <br>
         Koparıver, gözlerinin, gülüm, yaşını sil <br>
         Yapraklarım ellerimdir tam yüz bin elim var, <br>
         Yüz bin elle dokunurum sana, Istanbul'a. <br>
         Yapraklarım gözlerimdir.Şaşarak bakarım. <br>
         Yüz bin gözle seyrederim seni, Istanbul'u. <br>
         Yüz bin yürek gibi çarpar, çarpar yapraklarım. <br>
         <br>
         Ben bir ceviz ağacıyım Gülhane parkında, <br>
         Ne sen bunun farkındasın, ne polis farkında<br>
            </p>
         </div>

   
</div>


    
{% endblock body%}
