{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position: relative; left:-18%;">
    <h2 style="color:black;"><strong>Can Yücel</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
       <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
       <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
       <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
       <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
       <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
    </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Değişik</strong>

        <p class="card-text">
                    
            başka türlü bir şey  benim istediğim: <br>
ne ağaca benzer, ne de buluta.<br>
burası gibi değil gideceğim memleket<br>
denizi ayrı deniz, <br>
havası ayrı hava..</p>
<p>bir başka yolculuk dalından düşmek yere<br>
    yaşadığından uzun</p>
    <p>bir tatlı yolculuk dalından inmek yere<br>
        ağacın yüksekliğince<br>
        dalın yüksekliğince rüzgarda<br>
        ve bir yeni ömür<br>
        vardığın çimen yeşilliğince</p><p>bir tatlı yolculuk dalından inmek yere<br>
ağacın yüksekliğince<br>
dalın yüksekliğince rüzgarda<br>
ve bir yeni ömür<br>
vardığın çimen yeşilliğince</p>
<p>nerde gördüklerim? <br>
    nerde o beklediğim<br>
    rengi başka<br>
    tadı başka..
                    </p>
        </div>

</div>


    
{% endblock body%}
