{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position:relative; left:-18%;">
    <h2 style="color:black;"><strong>Can Yücel</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
       <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
       <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
       <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
       <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
       <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
    </ul>
        
    </span>

    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Eğer</strong>

        <p class="card-text">
            İstanbul'u dinliyorum, gözlerim kapalı
            Önce hafiften bir rüzgar esiyor;
            Yavaş yavaş sallanıyor
            Yapraklar ağaçlarda;
            Uzaklarda, çok uzaklarda,
            Sucuların hiç durmayan çıngırakları
            İstanbul'u dinliyorum, gözlerim kapalı.
            
            İstanbul'u dinliyorum, gözlerim kapalı;
            Kuşlar geçiyor, derken;
            Yükseklerden, sürü sürü, çığlık çığlık.
            Ağlar çekiliyor dalyanlarda;
            Bir kadının suya değiyor ayakları         
           
                        </p>

        </div>
    
      

</div>


    
{% endblock body%}
