{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position:relative; left:-18%;">
    <h2 style="color:black;"><strong>Can Yücel</strong></h2>
     <hr>
     <ul>
        <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
        <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
        <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
        <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
        <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
        <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
     </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Hayatta En Çok Babamı Sevdim</strong>

        <p class="card-text">
                    
            Hayatta ben en çok babamı sevdim<br>
Karaçalılar gibi yardan bitme bir çocuk<br>
Çarpık bacaklarıyla -ha düştü, ha düşecek-<br>
Nasıl koşarsa ardından bir devin <br>
O çapkın babamı ben öyle sevdim</p>
<p>Bilmezdi ki oturduğumuz semti<br>
    Geldi mi de gidici-hep, hep acele işi! -<br>
    Çağın en güzel gözlü maarif müfettişi<br>
    Atlastan bakardım nereye gitti<br>
    Öyle öyle ezberledim gurbeti</p>
    <p>Sevinçten uçardım hasta oldum mu<br>
        40'ı geçerse ateş, çağrırlar İstanbul'a<br>
        Bir helalleşmek ister elbet, diğ'mi, oğluyla! <br>
        Tifoyken başardım bu aşk oyununu<br>
        Ohh dedim, göğsüne gömdüm burnumu</p>
        <p>En son teftişine çıkana değin<br>
            Koştururken ardından o uçmaktaki devin<br>
            Daha başka tür aşklar, geniş sevdalar için<br>
            Açıldı nefesim, fikrim, canevim<br>
            Hayatta ben en çok babamı sevdim.
                            </p>

        </div>

</div>


    
{% endblock body%}
