{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position:relative; left:-18%;">
    <h2 style="color:black;"><strong>Can Yücel</strong></h2>
     <hr>
     <ul>
        <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
        <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
        <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
        <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
        <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
        <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
     </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Herşey Sende Gizli</strong>

        <p class="card-text">
                        
            Yerin seni çektiği kadar ağırsın, <br>
    Kanatların çırpındığı kadar hafif.. <br>
    Kalbinin attığı kadar canlısın, <br>
    Gözlerinin uzağı gördüğü kadar genç...<br>
    Sevdiklerin kadar iyisin, <br>
    Nefret ettiklerin kadar kötü.. <br>
    Ne renk olursa olsun kaşın gözün, <br>
    Karşındakinin gördüğüdür rengin.. <br>
    Yaşadıklarını kâr sayma: <br>
    Yaşadığın kadar yakınsın sonuna; ne kadar yaşarsan yaşa, <br>
    Sevdiğin kadardır ömrün.. <br>
    Gülebildiğin kadar mutlusun. <br>
    Üzülme bil ki ağladığın kadar güleceksin <br>
    Sakın bitti sanma her şeyi, <br>
    Sevdiğin kadar sevileceksin. <br>
    Güneşin doğuşundadır doğanın sana verdiği değer <br>
    Ve karşındakine değer verdiğin kadar insansın. <br>
    Bir gün yalan söyleyeceksen eğer; <br>
    Bırak karşındaki sana güvendiği kadar inansın. <br>
    Ay ışığındadır sevgiliye duyulan hasret, <br>
    Ve sevgiline hasret kaldığın kadar ona yakınsın. <br>
    Unutma yagmurun yağdığı kadar ıslaksın, <br>
    Güneşin seni ısıttığı kadar sıcak. <br>
    Kendini yalnız hissetiğin kadar yalnızsın <br>
    Ve güçlü hissettiğin kadar güçlü. <br>
    Kendini güzel hissettiğin kadar güzelsin.. <br>
    İşte budur hayat! <br>
    İşte budur yaşamak, <br>
    Bunu hatırladığın kadar yaşarsın <br>
    Bunu unuttuğunda aldığın her nefes kadar üşürsün <br>
    Ve karşındakini unuttuğun kadar çabuk unutulursun <br>
    Çiçek sulandığı kadar güzeldir, <br>
    Kuşlar ötebildiği kadar sevimli, <br>
    Bebek ağladığı kadar bebektir. <br>
    Ve herşeyi öğrendiğin kadar bilirsin, <br>
    bunu da öğren, <br>
    Sevdiğin kadar sevilirsin...
        </p>

        </div>
     
            
</div>

{% endblock body%}
