{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position:relative; left:-18%;">
  <h2 style="color:black;"><strong>Can Yücel</strong></h2>
  <hr>
  <ul>
     <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
     <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
     <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
     <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
     <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
     <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
  </ul>
    </span>
    <div style="max-width:400px;"class="card my-5">
      <div class="card-body">
      <strong class="card-title">Sevgi Duvarı</strong>

      <p class="card-text">
                    
            sen miydin o yalnızlığım mıydı yoksa<br>
         kör karanlıkta açardık paslı gözlerimizi<br>
          dilimizde akşamdan kalma bir küfür<br>
            salonlar piyasalar sanat sevicileri<br>
       derdim günüm insan içine çıkarmaktı seni<br>
              yakanda bir amonyak çiçeği<br>
           yalnızlığım benim sidikli kontesim<br>
            ne kadar rezil olursak o kadar iyi</p>
            <p>                   kumkapı meyhanelerine dadandık<br>
                önümüzde altınbaş altın zincir fasulye pilakisi<br>
                  aramızda görevliler ekipler hızır paşalar<br>
                    sabahları açıklarda bulurlardı leşimi<br>
                       öyle sıcaktı ki çöpçülerin elleri<br>
                      çöpçülerin elleriyle okşardın beni<br>
                      yalnızlığım benim süpürge saçlım<br>
                     ne kadar kötü kokarsak o kadar iyi</p>
                     <p>                    baktım gökte bir kırmızı bir uçak<br>
                        bol çelik bol yıldız bol insan<br>
                        bir gece sevgi duvarını aştık<br>
                       düştüğüm yer öyle açık seçik ki<br>
                   başucumda bir sen varsın bir de evren<br>
                    saymıyorum ölüp ölüp dirilttiklerimi<br>
                     yalnızlığım benim çoğul türkülerim<br>
                   ne kadar yalansız yaşarsak o kadar iyi
                  </p>
               </div>

</div>


    
{% endblock body%}
