{% extends "anasayfa.html" %}
{% block body%}

 <span class="float-left" style="width:400px;height:200px; position:relative; left:-18%;">
    <h2 style="color:black;"><strong>Behçet Necatigil</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/behcet/gece-ve-yas">Gece ve Yas</a></li>
       <li><a style="color:black;"href="/behcet/nilüfer">Nilüfer</a></li>
       <li><a style="color:black;"href="/behcet/sayet-ask">Şayet Aşk</a></li>
       <li><a style="color:black;"href="/behcet/solgun">Solgun Bir Gül Dokununca</a></li>
       <li><a style="color:black;"href="/behcet/dönmedolap"> Dönmedolap</a></li>

    </ul>

    </span>

    <div style="max-width:400px;"class="card my-5">
        <div class="card-body">
        <strong class="card-title">Solgun Bir Gül Dokununca</strong>

        <p class="card-text">

            Kimi de gün ortası yanıma sokuluyor
            En çok güz ayları ve yağmur yağınca
            Alçalır ya bir bulut, o hüzün bulutunda.
            Uzanıp alıyorum kimse olmuyor
            Solgun bir gül oluyor dokununca.
          
                        </p>

        </div>
    
      

</div>


    
{% endblock body%}
