{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black;border:2px solid black;"class="text-center m-5" >ŞİİRLER</H2>

 
    <h2 style="color:black;"><strong>Behçet Necatigil</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/behcet/gece-ve-yas">Gece ve Yas</a></li>
       <li><a style="color:black;"href="/behcet/nilüfer">Nilüfer</a></li>
       <li><a style="color:black;"href="/behcet/sayet-ask">Şayet Aşk</a></li>
       <li><a style="color:black;"href="/behcet/solgun">Solgun Bir Gül Dokununca</a></li>
       <li><a style="color:black;"href="/behcet/dönmedolap"> Dönmedolap</a></li>

    </ul>



    
{% endblock body%}
