{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black;border:2px solid black;"class="text-center m-5" >ŞİİRLER</H2>

 
    <h2 style="color:black;"><strong>Can Yücel</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/canyücel/sende_gizle">Sende Gizle</a></li>
       <li><a style="color:black;"href="/canyücel/eger">Eğer</a></li>
       <li><a style="color:black;"href="/canyücel/sevgiduvarı">Sevgi Duvarı</a></li>
       <li><a style="color:black;"href="/canyücel/hayattaencok">Hayatta En Çok Babamı Sevdim</a></li>
       <li><a style="color:black;"href="/canyücel/degisik">Değişik</a></li>
       <li><a style="color:black;"href="/canyücel/agaclarıkesmeyin">Ağaçları Kesmeyin</a></li>
    </ul>



    
{% endblock body%}
