<div style=" color:black; overflow: hidden;border-image-repeat:no-repeat;">
<h1 class="text-center">EDEBİYAT ÜNYASI</h1>
<hr>
 <p class="text-center font-italic"><b>Hayat Kısa. Oku! İzle! Keşfet!</b></p>
 <div class="row">
    <a href="" class="col-sm-2 px-5"></a>

<a href="/siirler" class="col-sm-3 btn btn-danger btn-lg btn-block px-5">Şiirler</a>
  
<a href="/hikayeler" class="col-sm-3 btn btn-danger btn-lg btn-block px-5">Hikayeler</a>

<a href="/filmler" class="col-sm-3 btn btn-danger btn-lg px-5 btn-block">Filmler</a> 

<br>
<br>  
 </div>
</div>
 
