<nav class="navbar navbar-expand-lg navbar-light bg-light0" style="position: relative;">
  <a style="color:black;"class="navbar-brand"style="color: white;"href="/"><i class="fas fa-lemon"></i>  ONCUER</a>
  <button  style="background-color: black;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color: black;"class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
     
     
      
    </ul>
    
  </div>
</nav>
