{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black;"class="text-center m-5">ŞİİRLER</H2>
 
    <h2 style="color:black;"><strong>Nazım Hikmet Ran</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;" href="/nazim/benseno">Ben Sen O</a></li>
       <li><a style="color:black;"href="/nazim/bessatırla">Beş Satırla</a></li>
       <li><a style="color:black;"href="/nazim/cevizagacı">Ceviz Ağacı</a></li>
       <li><a  style="color:black;" href="/nazim/dostluk">Dostluk</a></li>
       <li><a  style="color:black;"href="/nazim/maviliman">Mavi Liman</a></li>
    </ul>



    
{% endblock body%}
