{% extends "anasayfa.html" %}
{% block body%}
<H2 style="color: black;border:2px solid black;"class="text-center m-5" >ŞİİRLER</H2>

 
    <h2 style="color:black;"><strong>Orhan Veli Kanık</strong></h2>
    <hr>
    <ul>
       <li><a style="color:black;"href="/orhan/istanbul">İstanbul'u Dinliyorum</a></li>
       <li><a style="color:black;"href="/orhan/bayrak">Bayrak</a></li>
       <li><a style="color:black;"href="/orhan/bedava">Bedava</a></li>
       <li><a style="color:black;"href="/orhan/genclik">Ah!Neydi Benim Gençliğim</a></li>
       <li><a style="color:black;"href="/orhan/mahvetti">Beni Bu Havalar Mahvetti</a></li>
       <li><a style="color:black;"href="/orhan/bayram">Bayram</a></li>
    </ul>



    
{% endblock body%}
