{% extends "anasayfa.html" %}
{% block body%}
<br>
<br>
<br>
<H2 style="color: black ;position:relative;left:400px;background-color: white;width:200px;"class="text-center m-5" >HİKAYELER</H2>
<hr style="color: black;">
 
<a href="/hikayeler/keloglan" class="btn btn-danger btn-lg px-5 btn-block">Hızırı bulan keloğlan</a>
<a href="/hikayeler/dürümcekli" class="btn btn-danger btn-lg btn-block px-5">Dürümcekli kadın masalı</a>
<a href="/hikayeler/akilli" class="btn btn-danger btn-lg px-5 btn-block">Akıllı Köylü Kızı Hikayesi</a> 




{% endblock body%}
