 {% extends "anasayfa.html" %}
 {% block body%}

 <br>
 <br>
 <br>
 <H2 style="color: black ;position:relative;left:390px;background-color: white;width:200px;"class="text-center m-5" >ŞİİRLER</H2>
 <hr style="color: black;">
  
<a href="/siirler/canyücel" class="btn btn-danger btn-lg px-5 btn-block">Can yücel</a>
<a href="/siirler/orhanveli" class="btn btn-danger btn-lg btn-block px-5">Orhan Veli Kanık</a>
<a href="/siirler/nazım" class="btn btn-danger btn-lg px-5 btn-block">Nazım  Hikmet Ran</a> 
<a href="/siirler/behcet" class="btn btn-danger btn-lg px-5 btn-block">Behçet Necatigil</a> 
 
 
 {% endblock body%}
